#habilidades { 
    width: 100%;
    height: 100vh;
    background-color: var(--third-color);
}

.habilidades__container {
    display: grid;
}

.habilidades__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
 }

 .habilidades__botao {
    padding: 2.7rem 3.6rem;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
    margin: 0 1rem;
 }

 .habilidades__imagem {
     width: 60px;
 }

 .habilidades_tituloDaCategoria {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
 }

 .habilidades_link {
   text-decoration: none;
   color: var(--primary-color);
   font-size: 17px;
 }


