.carrosel__botao {
   width: 32%;
   height: 2.5rem;
   background-color: transparent;
   border: 1px solid var(--primary-color);
   border-style:outset;
   margin-top: 2rem;
   border-radius: 5px;
   color: var(--orange-500);
   cursor: pointer;
}

.carrosel__botao:hover {
   background-color: var(--gray-100)
}

.carrosel__botao i {
   color: var(--orange-500);
}