.carrosel__botao {
   width: 32%;
   height: 2.5rem;
   background-color: transparent;
   border: 1px solid var(--orange-200);
   border-style:outset;
   margin-top: 2rem;
   border-radius: 5px;
}

.carrosel__botao:hover {
   background-color: var(--black);
}

.carrosel__botao i {
   color: var(--orange-200);
}