.carrosel__container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   border-radius: 5px;
   padding: 1.5rem;
   width: 500px;
   height: 300px;
   background-color: var(--secondary-color);
   margin: 1.5rem;
}