.menu__link {
    text-transform: none;
}

.menu__link i:hover {
    color: var(--primary-color);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
    font-size: x-large;

}

.menu__link i {
    font-size: 1.3rem;
    margin: 0 1rem;
}