.apresentacao__link {
    color: var(--secondary-color);
    border: 2px dotted var(--orange-400);
    border-radius:0.5rem;
    cursor: pointer;
    padding: 0.7rem;
    text-align: center;
    width: 22%;
}

.apresentacao__link i {
    color: var(--orange-400);
    width: 10px;
    cursor: pointer;
}

.apresentacao__link:hover {
    border-style:inset;
}