.apresentacao__item {
    border: 2px solid var(--primary-color);
    border-radius:0.5rem;
    cursor: pointer;
    padding: 0.7rem;
    text-align: center;
    width: 20%;
}

.apresentacao__botao:hover {
    background-color: var(--orange-dark);
}