.apresentacao__container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    justify-content: space-between;
    font-size: 1.5rem;
    margin: auto;
    flex-wrap: wrap;
    height: 100vh;
}

@media screen and (min-width: 0) and (max-width: 768px){
    .apresentacao__container {
        width: 80%;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .apresentacao__container {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .apresentacao__container {
        width: 60%;
    }
}

