.apresentacao__item {
    border: 2px solid var(--orange-400);
    border-radius:0.5rem;
    cursor: pointer;
    padding: 0.7rem;
    text-align: center;
    width: 20%;
    border-style:dotted;
}

.apresentacao__item:hover {
    border-style:inset;
}