#project {
   flex-direction: column;
   width: 100%;
   padding: 150px 100px;
}

@media screen and (max-width: 1400px) {
   #project {
      padding: 150px 20px;
      background-color: var(--black);
      background-image: none;
   }
}