.project__box {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex: 1;
   border-radius: 5px;
   padding: 2.5rem 3rem;
   height: 430px;
   background-color: var(--black-opacity);
   margin: 1.5rem;
}

@media screen and (min-width: 0) and (max-width: 764px){
   .project__box {
      margin: 0.7rem;
      background-color: var(--secondary-color);
   }
}