#project {
   flex-direction: column;
   padding: 10%;
   background-image: url("https://images.pexels.com/photos/748626/pexels-photo-748626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   background-size: calc(100% + 30vh);
   background-repeat: no-repeat;
   background-clip: border-box;
}

@media screen and (max-width: 1400px) {
   #project {
      padding: 30% 0 20% 0;
      margin: 0;
      background-color: var(--black);
      background-image: none;
   }
}