.project__box {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   border-radius: 5px;
   padding: 1.5rem;
   width: 500px;
   height: 300px;
   background-color: var(--black-opacity);
   margin: 1.5rem;
}

@media screen and (min-width: 0) and (max-width: 764px){
   .project__box {
      margin: 0.7rem;
      background-color: var(--secondary-color);
   }
}