.apresentacao__container {
    display: flex;
    align-items: center;
    background-color: var(--preto-fosco);
    justify-content: space-between;
    height: calc(100vh - 110px);
    font-size: 1.5rem;
    width: 55%;
    margin: auto;
}
