.apresentacao__botao {
    background-color: var(--cor-principal);
    border-radius:0.5rem;
    padding: 0.7rem;
    margin-right: 1.5rem;
}

.apresentacao__botao:hover {
    background-color: var(--laranja-caro);
}