.apresentacao__container {
    display: flex;
    align-items: center;
    background-color: var(--preto-fosco);
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 110px);
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
}
