.apresentacao__item {
    background-color: var(--cor-principal);
    border-radius:0.5rem;
    padding: 0.7rem;
    width: 30%;
    text-align: center;
}

.apresentacao__botao:hover {
    background-color: var(--laranja-caro);
}