.apresentacao__item {
    background-color: var(--cor-principal);
    border-radius:0.5rem;
    cursor: pointer;
    padding: 0.7rem;
    text-align: center;
    width: 30%;
}

.apresentacao__botao:hover {
    background-color: var(--laranja-caro);
}