.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    height: calc(100vh - 110px);
    font-size: 1.5rem;
}