.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: calc(100vh - 110px);
    font-size: 1.5rem;
}

@media screen and (min-width: 0) {
    .apresentacao {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .apresentacao {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .apresentacao {
        width: 60%;
    }
}
