.apresentacao__descricao {
    font-size: 1.7rem;
    line-height: 3.7rem;
}

.apresentacao__descricao:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}