.projetos {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(3, 25vh);
    padding: 2rem;
}

.projetos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid var(--preto-fosco);
    border-radius: 10px;
    margin: 1rem;
    flex-direction: column;
}

.projetos__paragrafo {
    color: var(--preto);
    padding-bottom: 1rem;
}

.projetos__link {
    color: var(--preto-fosco);
    text-decoration: none;
    font-weight: bold;
}

.projetos__botao {
    padding: 0.5rem 1.7rem;
    background-color: var(--cor-principal);
    border-radius: 5px;
}

