#projetos {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.projetos {
   background-color: var(--orange-100);
   width: 60%;
}

.projetos__titulo {
   color: var(--secondary-color);
   font-size: 2rem;
   text-transform: uppercase;
   position: absolute;
   top:110vh;
   left: 0;
   padding: 0.4rem 1.8rem;
   background-color: var(--primary-color);
}

.projetos__setas {
   width: 3.5rem;
}

.projetos__navegacao {
   padding: 1.7rem 0;
}

.projetos__link {
   text-transform: uppercase;
   text-decoration: none;
   padding: 0.5rem;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-weight: bold;
   border-radius: 5px;
}