
#projetos {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: var(--third-color);
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(3, 25vh);
    margin-left: 1.5rem;
    margin: 0;
}

.projetos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 1rem 2rem;
    padding: 0.8rem 1.5rem;
    flex-direction: column;
    background-color: var(--beige-dark);
}

.projetos__titulo {
    color: var(--black);
}

.projetos__paragrafo {
    color: var(--black);
    padding: 1rem 0;
}

.projetos__lista li {
    display: inline;
    font-weight: bold;
    color: var(--black)
}

.projetos__lista {
    padding-bottom: 1rem;
}


.item__content:after {
    content: " |";
}

.projetos__link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.projetos__link i {
    color: var(--black)
}

.projetos__botao {
    padding: 0.5rem 1.7rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    border-color: var(--secondary-color);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos__botao:hover {
    background-color: var(--orange-dark);
    transition-delay: 0.1s;
}
