#projetos {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.projetos {
   background-color: var(--orange-100);
   width: 60%;
}

.projetos__titulo {
   color: var(--secondary-color);
   font-size: 2rem;
   text-transform: uppercase;
   position: absolute;
   top:110vh;
   left: 0;
   padding: 0.4rem 1.8rem;
   background-color: var(--primary-color);
}

.projetos__setas {
   width: 3.5rem;
}