
#projetos {
    align-items: center;
    background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(3, 25vh);
    margin-left: 1.5rem;
    margin: 0;
}

.projetos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--preto);
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    margin: 1rem 2rem;
    padding: 0.8rem 1.5rem;
    flex-direction: column;
}

.projetos__titulo {
    color: var(--branco);
}

.projetos__paragrafo {
    color: var(--branco);
    padding: 1rem 0;
}

.projetos__lista li {
    display: inline;
    font-weight: bold;
    color: var(--branco)
}

.projetos__lista {
    padding-bottom: 1rem;
}


.item__content:after {
    content: " |";
}

.projetos__link {
    color: var(--preto-fosco);
    text-decoration: none;
    font-weight: bold;
}

.projetos__botao {
    padding: 0.5rem 1.7rem;
    background-color: var(--cor-principal);
    border-radius: 5px;
    cursor: pointer;
}

.projetos__botao:hover {
    background-color: var(--laranja-escuro);
    transition-delay: 0.1s;
}
