.menu__link {
    color: var(--white);
    text-transform: none;
}

.menu__link:hover {
    color: var(--primary-color);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.menu__link i:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .menu__link {
        border: 1px solid var(--primary-color);
        padding: 5px;
    }
}
