.servicos__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 1.5rem;
   padding: 2rem;
   background-color: var(--secondary-color);
   width: 300px;
   height: 50vh;
}

.servicos__container:hover {
   border: 2px solid var(--orange-500);
   transition-delay: 0.2s;
}