

@media screen and (min-width: 0) {
   .servicos__ilustracao {
      width: 1.7rem;
      padding-bottom: 0.5rem;
   }
}

@media screen and (min-width: 764px) {
   .servicos__ilustracao {
      width: 3rem;
      padding-bottom: 0.7rem;
   }
}

@media screen and (min-width: 1024px) {
   .servicos__ilustracao {
      width: 4rem;
      padding-bottom: 1rem;
   }
}