.servicos__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 1.5rem;
   padding: 2rem;
   background-color: var(--secondary-color);
   flex-wrap: wrap;
}

.servicos__container:hover {
   border: 2px solid var(--orange-500);
   transition-delay: 0.2s;
}

@media screen and (min-width: 0) {
   .servicos__container {
      width: 400px;
      height: 25vh;
   }
}

@media screen and (min-width: 764px) {
   .servicos__container {
      width: 500px;
      height: 30vh;
   }
}

@media screen and (min-width: 1024px) {
   .servicos__container {
      width: 300px;
      height: 50vh;
   }
}