.menu__link {
    text-decoration: none;
    cursor: pointer;
}

.menu__link:hover {
    color: #f7a253;
}

@media screen and (max-width: 768px) {
    .menu__link {
        border: 1px solid var(--cor-principal);
        padding: 5px;
    }
}
