.menu__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .menu__lista{
        padding-right: 0;
        padding: 1.5rem;
    }
}