.menu__lista {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-around;
    padding-right: 12rem;
}

@media screen and (max-width: 768px) {
    .menu__lista{
        padding-right: 0;
        padding: 1.5rem;
    }
}