
#projetos {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
    background-repeat: no-repeat;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(3, 25vh);
    margin-left: 1.5rem;
}

.projetos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    margin: 1rem 2rem;
    padding: 0.8rem 1.5rem;
    flex-direction: column;
    background-color: transparent;
    background-color: var(--primary-color) 10%;

}

.projetos__titulo {
    color: var(--primary-color);
    text-transform: uppercase;
}

.projetos__paragrafo {
    color: var(--white);
    padding: 1rem 0;
}

.projetos__lista li {
    display: inline;
    font-weight: bold;
    color: var(--white);
}

.projetos__lista {
    padding-bottom: 1rem;
}


.item__content:after {
    content: " |";
}

.projetos__link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.projetos__link i {
    color: var(--black)
}

.projetos__botao {
    padding: 0.5rem 1.7rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    border-color: var(--secondary-color);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos__botao:hover {
    background-color: var(--orange-dark);
    transition-delay: 0.1s;
}
