.projetos__link {
   text-transform: capitalize;
   padding: 0.4rem 1rem;
   background-color: var(--orange-500);
   color: var(--secondary-color);
   border-radius: 4px;
   text-transform: uppercase;
}

.projetos__link:hover {
   background-color: var(--orange-50);
}

.projetos__link:target {
   display: none;
}