.projetos__link {
   text-transform: uppercase;
   padding: 0.5rem;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-weight: bold;
   border-radius: 5px;
}

.projetos__link:hover {
   background-color: var(--orange-400);
}