.projetos__link {
   text-transform: uppercase;
   padding: 0.4rem 1rem;
   background-color: var(--orange-500);
   color: var(--secondary-color);
   font-weight: bold;
   border-radius: 5px;
}

.projetos__link:hover {
   background-color: var(--orange-400);
}