#livros {
   background-color: var(--secondary-color);
   flex-wrap: wrap;
}

.container__descricao {
   width: 50%;
   padding-right: 4rem;
}

.container__descricao > p {
   padding-bottom: 1rem;
}

.livros__titulo {
   background-color: var(--primary-color);
   color: var(--black);
}

.livros__link {
   color: var(--orange-300);
}

.container__ilustracoes {
   border: 2px solid var(--primary-color);
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 2rem 0;
   flex-wrap: wrap;
}

.livros__ilustracao:hover {
   opacity: 60%;
   transition-delay: 0.2s;
}

.livros__ilustracao {
   width: 12rem;
}
