@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Source Code Pro', monospace;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
} *


.container {
    display: flex;
}

:root {
    --cor-principal: #ff7b00;
    --laranja-claro: #e89140;
    --preto: #000;
    --branco: #fff;
}

