@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
}

.marca__seccao__preto, .marca__seccao__laranja {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem 0;
    text-transform: uppercase;
    text-align: center;
}

.marca__seccao__preto {
    color: var(--secondary-color);
    text-shadow: 0.4rem 0.5rem 15px var(--black);
}

.marca__seccao__laranja {
    color: var(--primary-color);
    text-shadow: 0.4rem 0.5rem 15px var(--primary-color);
}

:root {
    --primary-color: #ff8303;
    --secondary-color: #1b1a17;
    --third-color: #f0e3ca;
    --beige-dark: #e9d9bb;
    --black: #000000ef;
    --white: #fff;
}

