@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    color: #000;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--preto);
}

.titulo__preto {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--preto-fosco);
    margin-top: 5rem;
    padding: 0.5rem 1rem 0.7rem 2rem;
    text-shadow: 0.4rem 0.5rem 15px var(--bege);
    border-bottom: 5px solid var(--preto);
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
}

.titulo__laranja {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--preto-fosco);
    background-color: var(--cor-principal);
    margin-top: 5rem;
    padding: 0.5rem 1rem 0.7rem 2rem;
    text-shadow: 0.4rem 0.5rem 15px var(--preto-fosco);
    border-bottom: 5px solid var(--laranja-escuro);
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
}

:root {
    --cor-principal: #ff8303;
    --laranja-escuro: #a35709;
    --bege: #f0e3ca;
    --preto-fosco: #1b1a17;
    --preto: #000000ef;
    --branco: #fff;
}

