@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: #FFF;
    font-family: 'Josefin Slab', cursive;
} *

.container {
    display: flex;
}


