@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--preto);
}

.container {
    display: flex;
}

:root {
    --cor-principal: #ff8303;
    --laranja-escuro: #a35709;
    --bege: #f0e3ca;
    --preto-fosco: #1b1a17;
    --preto: rgba(0, 0, 0, 0.939);
    --branco: #fff;
}

