@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
}

.marca__seccao__branco {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    margin-top: 5rem;
    padding: 0.5rem 1rem 0.7rem 2rem;
    text-shadow: 0.4rem 0.5rem 15px var(--third-color);
    border-bottom: 5px solid var(--third-color);
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
}

.marca__seccao__laranja {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 5rem;
    padding: 0.5rem 1rem 0.7rem 2rem;
    text-shadow: 0.4rem 0.5rem 15px var(--primary-color);
    border-bottom: 5px solid var(--orange-dark);
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
}

:root {
    --primary-color: #ff8303;
    --secondary-color: #1b1a17;
    --third-color: #f0e3ca;
    --orange-dark: #a35709;
    --black: #000000ef;
    --white: #fff;
}

