@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
}

:root {
    --primary-color: #ff8303;
    --secondary-color: #1b1a17;
    --beige-dark: #e9d9bb;
    --black: #000000ef;
    --white: #fff;
    --gray-100: rgb(236, 236, 236);
    --orange-100: #fcd0a5;
    --orange-200: #fdc288;
    --orange-300: #ffaf5f;
    --orange-400: #f8a14a;
    --orange-500: #f39537;
    --orange-600: #fa9025;
    --orange-700: #fa9025;
}


