@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.seccao__padrao, .seccao__especial {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccao__especial {
    padding: 10rem;
}

.titulo__padrao {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top:10vh;
    left: 0;
    padding: 0.4rem 1.6rem 0.4rem 2.6rem;
} 

.titulo__especial {
    font-size: 1.7rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.4rem;
    margin-bottom: 1.5rem;
    border-bottom-style: dashed;
}

.botao__padrao {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.4rem 1.2rem;
    border-style: dotted;
}

.botao__padrao:hover {
    border-style: inset;
}

:root {
    --primary-color: #ff8303;
    --secondary-color: #1b1a17;
    --beige-dark: #e9d9bb;
    --black: #000000ef;
    --white: #fff;
    --gray-100: #ececec;
    --gray-200: #d8d1d1;
    --gray-800: #1b1a17;
    --blue: #0404c9;
    --orange-100: #fcd0a5;
    --orange-200: #fdc288;
    --orange-300: #ffaf5f;
    --orange-400: #f8a14a;
    --orange-500: #f39537;
    --orange-600: #fa9025;
    --orange-700: #fa9025;
}


