@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

i {
    color: var(--orange-400);
    width: 10px;
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
body::-webkit-scrollbar-track {
  background: var(--black);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient( var(--primary-color), var(--orange-300), var(--orange-200));
  border-radius: 5px;
}