@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}
i {
    color: var(--orange-400);
    width: 10px;
    cursor: pointer;
}

.botao__link {
    border: 2px dotted var(--orange-400);
    border-radius:0.5rem;
    padding: 0.7rem;
    text-align: center;
    width: 22%;
}

.botao__link:hover {
    border-style: inset;
    background-color: var(--orange-50);
}

.botao__padrao {
    background-color: transparent;
    border: none;
    color: var(--orange-400);
    font-weight: bold;
}

.seccao__padrao, .seccao__especial {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccao__especial {
    padding: 10rem;
}

.titulo__padrao {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top:10vh;
    left: 0;
    padding: 0.4rem 1.6rem 0.4rem 2.6rem;
    flex-wrap: wrap;
} 

.titulo__especial {
    font-size: 2rem;
    border-left: 2px solid var(--orange-500);
    padding: 0 0 0.4rem 0.7rem;
    margin-bottom: 1.5rem;
}

.padding__bottom {
    margin-bottom: 1rem;
} 

