@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

i {
    color: var(--orange-400);
    width: 10px;
    cursor: pointer;
}

/* LINKS */

.botao__link {
    border: 2px inset var(--orange-400);
    border-radius:0.5rem;
    padding: 0.7rem 2rem;
    text-align: center;
    width: 22%;
}

.botao__link:hover, .botao__especial:hover {
    background-color: var(--orange-25);
}

/* BOTOES */

.botao__padrao {
    background-color: transparent;
    border: none;
    color: var(--orange-400);
    font-weight: bold;
}

.botao__especial {
    width: 200px;
    height: 2.5rem;
    background-color: var(--orange-500);
    border-top: 0;
    border-left: 0;
    margin-top: 2rem;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
    font-weight: bold;
 }
 
 .botao__especial i {
    color: var(--secondary-color);
 }

 /* SECOES */

.secao__padrao, .secao__especial {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* TITULOS */

.titulo__padrao {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top:10vh;
    left: 0;
    padding: 0.4rem 1.6rem 0.4rem 2.6rem;
    background-color: var(--primary-color);
    color: var(--black);
} 

.titulo__especial {
    font-size: 2rem;
    border-left: 2px solid var(--orange-500);
    padding: 0 0 0.4rem 0.7rem;
    margin-bottom: 1.5rem;
}

/* REDIRECTS */

.continuacao, .inicio {
    position: absolute;
    bottom: 1.5rem;
    left: 49.5%;
 }

 .inicio {
    transform: rotate(180deg);
 }

 /* CLASSES ÚNICAS */

.padding__bottom {
    margin-bottom: 1rem;
} 

@media screen and (min-width: 0) {
    .secao__especial {
        padding: 1rem;
    }

    .continuacao, .inicio {
        width: 1.2rem;
    }
}

@media screen and (min-width: 764px) {
    .secao__especial {
        padding: 5rem;
    }

    .continuacao, .inicio {
        width: 1.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .secao__especial {
        padding: 10rem;
    }
}