@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
} *

body {
    background-color: var(--black);
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

i {
    color: var(--orange-400);
    width: 10px;
    cursor: pointer;
}

/* LINKS / BOTOẼS */

.button__default {
    border: 2px inset var(--orange-400);
    border-radius:0.5rem;
    padding: 0.7rem 2rem;
    width: 22%;
    background-color: transparent;
    color: var(--orange-400);
    font-weight: bold;
}

.button__special {
    width: 200px;
    height: 2.5rem;
    background-color: var(--orange-500);
    border-top: 0;
    border-left: 0;
    border-radius: 5px;
    margin-top: 2rem;
    color: var(--black);
    cursor: pointer;
    font-weight: bold;
 }
 
 .button__special i {
    color: var(--secondary-color);
 }

 .button__default:hover, .button__special:hover {
    background-color: var(--orange-25);
}

 /* SECOES */

.section__default, .section__special {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* TITULOS */

.title__default {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top:8.5vh;
    left: 0;
    padding: 0.4rem 1.6rem 0.4rem 2.6rem;
    background-color: var(--primary-color);
    color: var(--black);
} 

.title__special {
    font-size: 2rem;
    border-left: 2px solid var(--orange-500);
    padding: 0 0 0.4rem 0.7rem;
    margin-bottom: 1.5rem;
}

/* REDIRECTS */

 .direct__home {
    transform: rotate(180deg);
 }

 .direct__special {
    border: 9px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 2.7rem;
 }

 .direct__default, .direct__home, .direct__special {
    position: absolute;
    bottom: 1.5rem;
    left: 49.5%;
 }

 /* CLASSES ÚNICAS */

.padding__bottom {
    margin-bottom: 1rem;
} 

/* MIDIAS QUERYS */

@media screen and (min-width: 0) {
    .section__special {
        padding: 1rem;
    }

    .direct__default, .direct__home {
        width: 1.2rem;
    }
}

@media screen and (min-width: 764px) {
    .section__special {
        padding: 5rem;
    }

    .direct__default, .direct__home {
        width: 1.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .section__special {
        padding: 10rem;
    }
}