.services__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 2px solid var(--orange-500);
   border-radius: 10px;
   transition-delay: 0.2s;
   flex-wrap: wrap;
   box-shadow: 0 0 10px 20px #00000024, 0 0 6px 6px #ff830363;
}

@media screen and (min-width: 0) {
   .services__container {
      width: 400px;
      height: 25vh;
      padding: 1rem;
   }
}

@media screen and (min-width: 764px) {
   .services__container {
      width: 500px;
      height: 30vh;
      padding: 1.5rem;
      margin: 1.5rem;
   }
}

@media screen and (min-width: 1024px) {
   .services__container {
      width: 300px;
      height: 40vh;
      padding: 2rem;
      margin: 1.5rem;
   }
}