.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    background-color: var(--black);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
    }
}