.cabecalho__logo {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0 7px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: outset;
    text-align: center;
}

