#servicos {
   background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-size: 100%;
   background-repeat: none;
   background-clip: clip;
}

.servicos__titulo {
   background-color: var(--primary-color);
   color: var(--black);
}