#habilidades { 
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.habilidades__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades__item {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
 }

 .habilidades__botao {
    padding: 3.2rem 4rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
 }

 .habilidades__imagem {
     width: 60px;
 }

 .habilidades_tituloDaCategoria {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
 }

 .habilidades_link {
   text-decoration: none;
   color: var(--primary-color);
   font-size: 17px;
 }

 .node__imagem {
     width: 100px;
 }

