#rodape {
   background-color: var(--orange-400);
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 1rem;
}

.rodape__logo {
   width: 4rem;
   color: var(--secondary-color);
   border-color: var(--secondary-color);
   margin-bottom: 0.7rem;
}

.rodape__paragrafo {
   color: var(--secondary-color);
}