.carrosel {
   background-color: var(--secondary-color);
   width: 850px;
   height: 450px;
   border-radius: 10px;
   display: flex;
   margin: 0;
   justify-items: center;
   align-items: center;
   justify-content: center;
}

.carrosel__container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   margin: 5rem;
}

.carrosel__container:target {
   display: block;
}

.carrosel__titulo {
   font-size: 5rem;
   color: var(--white);
   text-transform: uppercase;
}

.carrosel__container--tecnologias {
   margin-top: 1.5rem;
}

.carrosel__tecnologias {
   text-transform: uppercase;
   padding:0.5rem;
   background-color: var(--black);
   border-bottom: 2px solid var(--primary-color);
}

.carrosel__botao {
   width: 32%;
   height: 2.5rem;
   background-color: transparent;
   border-color: var(--white);
   border-style:outset;
   margin-top: 2rem;
   border-radius: 5px;
}

.carrosel__botao:hover {
   background-color: var(--black);
}

.carrosel__link {
   color: var(--white);
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
}

.invisivel {
   display: none;
}