.menuHamburguer {
   background-color: var(--primary-color);
   border-radius: 50%;
   bottom: 2rem;
   height: 4rem;
   right: 2rem;
   width: 4rem;
   transition: box-shadow 1s ease-in-out;
}

.menuHamburguer:hover {
   box-shadow: 0 0 0 8px var(--primary-color), 0 0 0 8px var(--primary-color);
}