.menuHamburguer__botao {
   display: block;
   background-color: var(--secondary-color);
   height: 3.5px;
   position: relative;
   width: 2rem;
   margin: auto;
   top: 2em;
   transition: .5s ease-in-out;
}

.menuHamburguer__botao:after, .menuHamburguer__botao:before {
   background-color: var(--secondary-color);
   content: "";
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   transition: .5s ease-in-out;
}

.menuHamburguer__botao:before {
    top: -10px;
}

.menuHamburguer__botao:after {
   bottom: -10px;
}