.menuHamburguer__entrada {
   display: none;
}

.menuHamburguer__entrada:checked ~ .menuHamburguer__lista {
   opacity: 1;
}

.menuHamburguer__entrada:checked ~ label .menuHamburguer__botao {
   transform: rotate(45deg);
}

.menuHamburguer__entrada:checked ~ label .menuHamburguer__botao:before {
   transform: rotate(90deg);
   top: 0;
}

.menuHamburguer__entrada:checked ~ label .menuHamburguer__botao:after {
   transform: rotate(90deg);
   bottom: 0;
}

.menuHamburguer__entrada:checked ~ label .menuHamburguer {
   box-shadow: 0 0 0 100vw var(--third-color), 0 0 0 100vh var(--third-color);
}