.presentation__description {
    width: 100%;
    line-height: 2.5rem;
    color: var(--white);
    text-align: center;
}

.writing__effect:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .presentation__description {
        text-align: center;
        line-height: 3rem;

    }
}