.animation__bottom {
   animation: animation-bottom 5s ease-in-out infinite;
}

.animation__top {
   animation: animation-top 5s ease-in-out infinite;
}

@keyframes animation-bottom {
   0% {
      transform: translateY(0);
   }
   25% {
      transform: translateY(-20px);
   }
   50% {
      transform: translateY(20px);
   }
   100% {
      transform: translateY(0);

   }
}

@keyframes animation-top {
   0% {
      transform: translateY(0);
   }
   25% {
      transform: translateY(20px);
   }
   50% {
      transform: translateY(-20px);
   }
   100% {
      transform: translateY(0);

   }
}
